* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

:root {
  --bright-orange: #EE7C2F;
  --light-orange: #F19659;
  --lighter-orange: #ffd8a5;
  --lightest-organge: #fdf9ed;
}

html {
  background: #f2f2f2;
  font-family:
    'Segoe UI',
    'Segoe UI Web (West European)',
    'Segoe UI',
    -apple-system,
    BlinkMacSystemFont,
    Roboto,
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}